<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
         
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <link rel="stylesheet" href="../static/css/styleSuperAdminForm.css">
  
  <title>Affter Class</title>
 

</head>

<body>
  <!--Encabezado-->
  <header>
    <header>
      <div class="container-fluid navbar navbar-dark bg-dark">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="../templates/Index.html"><image src="../static/img/logo-afterclass.ico"></a>
              <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link ">Groups</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
  </header>
                             <!--Container-->
  <div class="container">

    <!--Navegacion en ventanas-->
    <div class=tl_container>

      <!-- A plain set of anchor links in HTML -->
    
      <ul class="tl_list">
        <li><a href="#A" class=a>Universities</a></li>
        <li><a href="#B" class=b>Careers</a></li>
        <li><a href="#C" class=c>Subjects</a></li>
        <li><a href="#D" class=d>Groups</a></li>
        <li><a href="#E" class=e>Users</a></li>
      </ul>
    
      <section id=A class="tl_section a"> 
        
        <table >
            <tr>
                <th>Name</th>
                <th>Options</th>
            </tr>
           <tr>
            <td>Unam</td>
           <td> <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Editar" data-toggle="modal" data-target="#modalEditarPac" onclick=>
        <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Eliminar" data-toggle="modal" data-target="#modalEditarPac" onclick=></td>
          
           </tr>
           <tr>
            <td>Ucami</td>
           <td> <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Editar" data-toggle="modal" data-target="#modalEditarPac" onclick=>
        <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Eliminar" data-toggle="modal" data-target="#modalEditarPac" onclick=></td>
          
           </tr>
           <tr>
            <td>Gaston Dachari</td>
           <td> <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Editar" data-toggle="modal" data-target="#modalEditarPac" onclick=>
        <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Eliminar" data-toggle="modal" data-target="#modalEditarPac" onclick=></td>
          
           </tr>
        </table>
      </section>
    
      <section id=B class="tl_section b">
      
       <table>
        <tr>
            <th>Name</th>
            <th>Universities</th>
            <th>Options</th>
        </tr>
        <tr>
            <td>Juan</td>
            <td>Unam</td>
           <td> <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Editar" data-toggle="modal" data-target="#modalEditarPac" onclick=>
        <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Eliminar" data-toggle="modal" data-target="#modalEditarPac" onclick=></td>
          
           </tr>
           <tr>
            <td>Lisandro</td>
            <td>Ucami</td>
           <td> <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Editar" data-toggle="modal" data-target="#modalEditarPac" onclick=>
        <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Eliminar" data-toggle="modal" data-target="#modalEditarPac" onclick=></td>
          
           </tr>
           <tr>
            <td>Luis</td>
            <td>Gaston Dachari</td>
           <td> <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Editar" data-toggle="modal" data-target="#modalEditarPac" onclick=>
        <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Eliminar" data-toggle="modal" data-target="#modalEditarPac" onclick=></td>
          
           </tr>
       </table>
        
      </section>
    
      <section id=C class="tl_section c">
        <table>
            <tr>
                <th>Name</th>
                <th>Careers</th>
                <th>Universities</th>
                <th>Options</th>
            </tr>
            <tr>
                <td>Juan</td>
                <td>Sistemas</td>
                <td>Unam</td>
               <td> <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Editar" data-toggle="modal" data-target="#modalEditarPac" onclick=>
            <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Eliminar" data-toggle="modal" data-target="#modalEditarPac" onclick=></td>
              
               </tr>
               <tr>
                <td>Lisandro</td>
                <td>Ecologia</td>
                <td>Ucami</td>
               <td> <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Editar" data-toggle="modal" data-target="#modalEditarPac" onclick=>
            <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Eliminar" data-toggle="modal" data-target="#modalEditarPac" onclick=></td>
              
               </tr>
               <tr>
                <td>Luis</td>
                <td>Prof. Matematicas</td>
                <td>Gaston Dachari</td>
               <td> <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Editar" data-toggle="modal" data-target="#modalEditarPac" onclick=>
            <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Eliminar" data-toggle="modal" data-target="#modalEditarPac" onclick=></td>
              
               </tr>
           </table>
      </section>
      <section id=D class="tl_section b">
      
        <table>
         <tr>
             <th>Name</th>
             <th>Id</th>
             <th>Options</th>
         </tr>
         <tr>
             <td>Juan</td>
             <td>3321</td>
            <td> <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Editar" data-toggle="modal" data-target="#modalEditarPac" onclick=>
         <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Eliminar" data-toggle="modal" data-target="#modalEditarPac" onclick=></td>
           
            </tr>
            <tr>
             <td>Lisandro</td>
             <td>3232</td>
            <td> <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Editar" data-toggle="modal" data-target="#modalEditarPac" onclick=>
         <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Eliminar" data-toggle="modal" data-target="#modalEditarPac" onclick=></td>
           
            </tr>
            <tr>
             <td>Luis</td>
             <td>4342</td>
            <td> <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Editar" data-toggle="modal" data-target="#modalEditarPac" onclick=>
         <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Eliminar" data-toggle="modal" data-target="#modalEditarPac" onclick=></td>
           
            </tr>
        </table>
         
       </section>
       <section id=E class="tl_section b">
      
        <table>
         <tr>
             <th>Username</th>
             <th>Id</th>
             <th>Full Name</th>
             <th>Options</th>
         </tr>
         <tr>
             <td>juancito111</td>
             <td>3321</td>
             <td>Juan Medina</td>
            <td> <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Editar" data-toggle="modal" data-target="#modalEditarPac" onclick=>
         <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Eliminar" data-toggle="modal" data-target="#modalEditarPac" onclick=></td>
           
            </tr>
            <tr>
            <td>lisandrito222</td>
            <td>3232</td>
            <td>Lisandro</td>
             
            <td> <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Editar" data-toggle="modal" data-target="#modalEditarPac" onclick=>
         <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Eliminar" data-toggle="modal" data-target="#modalEditarPac" onclick=></td>
           
            </tr>
            <tr>
             <td>luisito666</td>
             <td>4342</td>
             <td>Luis Martinez</td>
            <td> <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Editar" data-toggle="modal" data-target="#modalEditarPac" onclick=>
         <input  type="submit" class="boton" id="btnEd" name="btnEd" value="Eliminar" data-toggle="modal" data-target="#modalEditarPac" onclick=></td>
           
            </tr>
        </table>
         
       </section>
    <script>
      var accessibleTabs6 = (function () {

      "use strict";
    
      var d = document;
      var tabListClass;
      var onClass;
      var hoverableClass;
    
      var setTabsOff = function (tabList) {
        var i = tabList.tabs.length;
        while (i--) {
          setTab(tabList.tabs[i], false);
        }
      };
    
      var setTab = function (tab, switchOn) {
        if (tab && tab.panelId) {
          d.getElementById(tab.panelId).setAttribute("aria-hidden", !switchOn);
          tab.setAttribute("aria-selected", switchOn);
          tab.setAttribute("tabindex", switchOn ? "0" : "-1");
        }
      };
    
      var _activateTab = function (e) {
        var tab = e.target;
        if (e.preventDefault) {
          e.preventDefault();
          setTabsOff(tab.tabList);
          setTab(tab, true);
          d.getElementById(tab.panelId).children[0].focus();
        }
      };
    
      var _keypressed = function (e) {
    
        var tab = e.target;
        var newNo = -1;
        var tabs = tab.tabList.tabs;
        var maxNo = tabs.length - 1;
    
        if (e.keyCode === 37 || e.keyCode === 38) { // left / up arrow
          newNo = (tab.no === 0) ? maxNo : tab.no - 1;
        }
        if (e.keyCode === 39 || e.keyCode === 40) { // right arrow / down arrow
          newNo = (tab.no === maxNo) ? 0 : tab.no + 1;
        }
    
        if (newNo > -1) {
          setTabsOff(tab.tabList);
          setTab(tabs[newNo], true);
          tabs[newNo].focus();
        }
      };
    
      var _tabHovered = function (e) {
        var a = e.target;
        var useHover = a.tabList.classList.contains(hoverableClass);
        if (useHover) {
          _activateTab(e);
        }
      };
    
      var _events = function (tab) {
        tab.addEventListener("click", _activateTab, false);
        tab.addEventListener("keydown", _keypressed, false);
        tab.addEventListener("mouseover", _tabHovered, false);
      };
    
      var _initialiseAriaAttributes = function (tab) {
    
        var tabPanel = d.getElementById(tab.panelId);
    
        tab.parentNode.setAttribute("role", "presentation");
        tab.setAttribute("role", "tab");
        tab.setAttribute("aria-controls", tab.panelId);
    
        tabPanel.setAttribute("role", "tabpanel");
        tabPanel.setAttribute("aria-labelledby", tab.id);
    
        // Make first <section> object keyboard focussable
        // Preferably a heading
        // Tabindex=0 to work both forwards and backwards through the keychain
        tabPanel.children[0].setAttribute("tabindex", "0");
    
      };
    
      var _setUpConfig = function (cfg) {
        tabListClass = cfg.tabListClass || "tl_list";
        onClass = cfg.onClass || "ON";
        hoverableClass = cfg.hoverableClass || "tl-hoverable";
      };
    
      var _setUpTab = function (tab, panelId, count) {
        tab.no = count;
        tab.id = "tab-" + panelId;
        tab.panelId = panelId;
        _initialiseAriaAttributes(tab);
        _events(tab);
      };
    
    
      var _initialiseTabList = function (tabList) {
    
        var defaultTab = 0;
        var panelId;
        var tabPanel;
        var i;
    
        if (tabList) {
    
          tabList.setAttribute("role", "tablist");
          tabList.tabs = tabList.getElementsByTagName("a");
          i = tabList.tabs.length;
    
          while (i--) {
    
            tabList.tabs[i].tabList = tabList;
    
            panelId = tabList.tabs[i].href.slice(tabList.tabs[i].href.lastIndexOf("#") + 1);
            tabPanel = d.getElementById(panelId);
    
            if (tabPanel) {
              _setUpTab(tabList.tabs[i], panelId, i);
              if (tabList.tabs[i].classList.contains(onClass)) {
                defaultTab = i;
    
                // onClass only used to declare intial state, so remove from DOM
                tabList.tabs[i].classList.remove(onClass);
                d.getElementById(panelId).classList.remove(onClass);
              }
            }
          }
          setTabsOff(tabList);
          if (tabList.tabs[defaultTab] && tabList.tabs[defaultTab].panelId) {
            setTab(tabList.tabs[defaultTab], true);
          }
        }
      };
    
      var _isMustardCut = function (e) {
        // check browser feature support (IE10+)
        return (
          (typeof d.querySelectorAll === "function") &&
          d.addEventListener &&
          !!d.documentElement.classList // IE10+
        );
      };
    
      var init = function (cfg) {
        var tabLists;
        var i;
    
        if (_isMustardCut()) {
          _setUpConfig(cfg);
          tabLists = d.getElementsByClassName(tabListClass);
          i = tabLists.length;
          while (i--) {
            _initialiseTabList(tabLists[i]);
          }
        }
      };
    
      return {
        init: init
      };
    
    }());
    
    
    accessibleTabs6.init({
      tabListClass : "tl_list",   // default, may omit
      onClass : "ON",               // default, may omit
      hoverableClass : "tl-hoverable"  // default, may omit
    });</script>

    </div>
    <!--<div class="tabs">
      <ul class="tabs__list" role="tablist">
        <li class="tabs__item" role="presentation">
          <a href="#A" class="tabs__link" id="tab-A" role="tab" aria-controls="A" aria-selected="true" tabindex="0">Section A</a>
        </li>
        <li class="tabs__item" role="presentation">
          <a href="#B" class="tabs__link" id="tab-B" role="tab" aria-controls="B" aria-selected="false" tabindex="-1">Section B</a>
        </li>
        <li class="tabs__item" role="presentation">
          <a href="#C" class="tabs__link" id="tab-C" role="tab" aria-controls="C" aria-selected="false" tabindex="-1">Section C</a>
        </li>
      </ul>
      
      <section id="A" class="tabs__section" role="tabpanel" aria-labelledby="tab-A" aria-hidden="false">
        <div class="tabs__body">
          Content of section A<br>
          This is an accessible implementation for a tab-list. Needed JS and documentation
          can be found <a href="https://codepen.io/2kool2/pen/Kzaddm?editors=0100" omit="" target="_blank">here</a>.
        </div>
      </section>
      
      <section id="B" class="tabs__section" role="tabpanel" aria-labelledby="tab-B" aria-hidden="true">
        <div class="tabs__body">
          Content of section B
        </div>
      </section>
      
      <section id="C" class="tabs__section" role="tabpanel" aria-labelledby="tab-C" aria-hidden="true">
        <div class="tabs__body">
          Content of section C
        </div>
      </section>
    </div>-->


    <!--Pie de pagina-->
    
   <!-- <div class="about">
      <aside>Form
        <div class="contact-form">
          <div>Form</div>
        </div>
      </aside>
      
      <div>
        <div class="contac-info">
          <div>Phone Number</div>
          <div>Email</div>
          <div>Web Site</div>
        </div>
      </div>
      
    </div>
    -->
  </div>
  <script src="../static/js/bootstrap.bundle.min.js"></script>

</body>
</html>