<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="..\static\css\styleUserProfile.css">
        <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
         
  
    </head>
    <body>


        <!--Encabezado-->
  
  
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
              <div class="container">
                  <a class="navbar-brand" href="../templates/Index.html"><image src="../static/img/logo-afterclass.ico"></a>
                    <!--BOTON DESPLEGABLE PARA EL COLLAPSE-->
                    <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                  <!--DIV CON LISTA DEL MENU DESPLEGABLE-->
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" href="../templates/Index.html">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../templates/UserProfile.html">Profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="../templates/Groups.html">Groups</a>
                      </li>
                    </ul>
                    <a href="" class="btn btn-warning">Sign out</a>
                  </div>
                </div>
           </nav>
        </header>
    <!--Perfil-->    

  
          <!--Img portada y perfil-->    
          <div class="container" id="profileInformation">

            <div class="card__background-img mb-2">
         
            <div class="card__profile-img"></div>
   

          </div>
   
         
          <div class="card__name">
          
            <div class="container mb-2">
              <h1>Nombre Apellido</h1>
              <div class="d-flex justify-content-end">
                
                <button class="btn btn-warning justify-content-end" href="../templates/ProfileEdit.html">Edit</button>
                
              </div>
            </div>        
            
            
          </div>
          
        </div>
        
        <!--Contenido Perfil-->
        <div class="card__content">
          
          
          <ul class="card__list">
            
            
            <li class="card__item">Item 1</li>
            
            
            <li class="card__item">Item 2</li>
            
            
            <li class="card__item card__item--active">Item activo</li>
            
            
            
          </ul>
          
          
          <p class="card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et leo duis ut diam quam. Pulvinar sapien et ligula ullamcorper malesuada proin libero. </p>
          
   
        
           
          
    
    </div>
        
   
</div>

<script src="../static/js/bootstrap.bundle.min.js"></script>

</body>

</html>